<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Add a Cupcake</h3>
    <form action="">
        <label>Flavor</label><input type="text" name="flavor" id="flavor"><br>
        <label>Size</label><input type="text" name="size" id="size"><br>
        <label>Rating</label><input type="text" name="rating" id="rating"><br>
        <label>Image</label><input type="text" name="image" id="image"><br>
        <input type="submit" value="">
    </form>
    <br>
    <h3>Cupcakes!</h3><button id='get'>Get Cupcakes</button>
    <ul id ='cupcakes'>

    </ul>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='../static/script.js'></script>
</html>